
process {
    // majiq (required)
    withName: 'MAJIQ_BUILDGFF3'         { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_BUILDSJ'           { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_BUILDUPDATE'       { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_PSICOVERAGE'       { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_PSI'               { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_DELTAPSI'          { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_HETEROGEN'         { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_SGCOVERAGE'        { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'DELTAPSI_MODULIZE'       { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    withName: 'HETEROGEN_MODULIZE'      { container = "/storage/zar/shared/apptainer_images/majiq_v3_0_6.sif"                   }
    // optional specification
    withName: 'SAMPLESHEET_CHECK'       { container = '/storage/zar/shared/apptainer_images/python-3.9--1.sif'                  }
    withName: 'CONTRASTSHEET_CHECK'     { container = '/storage/zar/shared/apptainer_images/python-3.9--1.sif'                  }
    withName: 'FASTQC'                  { container = '/storage/zar/shared/apptainer_images/fastqc_0.12.1_hdfd78af_0.sif'       }
    withname: 'MULTIQC'                 { container = '/storage/zar/shared/apptainer_images/multiqc_1.9_pyh9f0ad1d_0.sif'       }
    withName: 'SAMTOOLS_INDEX'          { container = '/storage/zar/shared/apptainer_images/samtools_1.22_h96c455f_0.sif'       }
    withName: 'AGAT_CONVERTSPGXF2GXF'   { container = '/storage/zar/shared/apptainer_images/agat_1.4.2--pl5321hdfd78af_0.sif'   }
}
