apptainer.cacheDir = "/data/42-julia-hpc-bio-zarnack/shared/apptainer"
process {
    // majiq (required)
    withName: 'MAJIQ_BUILDGFF3'         { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_BUILDSJ'           { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_BUILDUPDATE'       { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_PSICOVERAGE'       { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_QUANTIFY'          { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_DELTAPSI'          { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_HETEROGEN'         { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'MAJIQ_SGCOVERAGE'        { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'DELTAPSI_MODULIZE'       { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
    withName: 'HETEROGEN_MODULIZE'      { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }    
    withName: 'QUANTIFY_MODULIZE'       { container = "/data/42-julia-hpc-bio-zarnack/shared/apptainer/majiq_v3_0_6.sif"                   }
}
