/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

  /**********************
   * MAJIQ core modules *
   **********************/

  withName: MAJIQ_BUILDGFF3 {
    ext.args = { params.majiq_buildgff3_args ?: '' }
    publishDir = [ enabled: false ]
  }

  withName: MAJIQ_BUILDSJ {
    ext.args = { params.majiq_buildsj_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/build" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_BUILDUPDATE {
    ext.args = { params.majiq_buildupdate_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/build" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_PSICOVERAGE {
    ext.args = { params.majiq_psicoverage_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/psicoverage" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_PSI {
    ext.args = { params.majiq_psi_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/psi" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_DELTAPSI {
    ext.args = { params.majiq_deltapsi_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/deltapsi" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_HETEROGEN {
    ext.args = { params.majiq_heterogen_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/heterogen" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }

  withName: MAJIQ_SGCOVERAGE {
    ext.args = { params.majiq_sgcoverage_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/sgcoverage" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }



  withName: DELTAPSI_MODULIZE {
    ext.args = { params.deltapsi_modulize_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/deltapsi/modulize" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }


  withName: HETEROGEN_MODULIZE {
    ext.args = { params.heterogen_modulize_args ?: '' }
    publishDir = [
      path  : { "${params.outdir}/majiq/heterogen/modulize" },
      mode  : params.publish_dir_mode,
      saveAs: { f -> f.equals('versions.yml') ? null : f }
    ]
  }
}
