/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /**********************
   * MAJIQ core modules *
   **********************/

    withName: MAJIQ_BUILDGFF3 {
        ext.args = { params.majiq_buildgff3_args ?: '' }
        publishDir = [ enabled: false ]
    }

    withName: MAJIQ_BUILDSJ {
        ext.args = { params.majiq_buildsj_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_BUILDUPDATE {
        ext.args = { params.majiq_buildupdate_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_PSICOVERAGE {
        ext.args = { params.majiq_psicoverage_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/build" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_QUANTIFY {
        ext.args = { params.majiq_quantify_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: QUANTIFY_MODULIZE {
        ext.args = { params.majiq_quantify_modulize_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/quantify" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_DELTAPSI {
        ext.args = { params.majiq_deltapsi_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/deltapsi" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_HETEROGEN {
        ext.args = { params.majiq_heterogen_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/heterogen" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: MAJIQ_SGCOVERAGE {
        ext.args = { params.majiq_sgcoverage_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/build/sg-coverage" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }



    withName: DELTAPSI_MODULIZE {
        ext.args = { params.deltapsi_modulize_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/deltapsi" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }


    withName: HETEROGEN_MODULIZE {
        ext.args = { params.heterogen_modulize_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/majiq/heterogen" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    //RSEQC

    withName: RSEQC_INFEREXPERIMENT {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_BAMSTAT {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_INNERDISTANCE {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_JUNCTIONANNOTATION {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_JUNCTIONSATURATION {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_READDISTRIBUTION {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: RSEQC_READDUPLICATION {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }
    withName: RSEQC_TIN {
        publishDir = [
        path  : { "${params.outdir}/quality_control/rseqc/${meta.id}" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }
    withName: DEEPTOOLS_BAMCOVERAGE {
        //increased cpu count to adress small bin sizes
        cpus = 4
        ext.args = { params.deeptools_bamcoverage_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/bigWig" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: AGAT_CONVERTGFF2BED {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/annotation" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: AGAT_CONVERTSPGXF2GXF {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/annotation" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: CONTRASTSHEET_CHECK {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/contrastsheet" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: SAMPLESHEET_CHECK {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/samplesheet" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/samtools" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: IRFINDER_BUILDREFPROCESS {
        ext.args = { params.irfinder_buildrefprocess_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/irfinder" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: IRFINDER_BAM {
        ext.args = { params.irfinder_bam_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/irfinder" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: IRFINDER_DIFF {
        ext.args = { params.irfinder_diff_args ?: '' }
        publishDir = [
        path  : { "${params.outdir}/irfinder" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: GUNZIP {
        publishDir = [ enabled: false ]
    }

    withName: AGAT_CONVERTSPGFF2GTF {
        publishDir = [
        path  : { "${params.outdir}/processed_inputs/annotation" },
        mode  : params.publish_dir_mode,
        saveAs: { f -> f.equals('versions.yml') ? null : f }
        ]
    }

    withName: 'QUARTONOTEBOOK_DELTAPSI' {
        // Wave container build page - https://wave.seqera.io/view/builds/bd-a067462ed5026286_1
        container = 'community.wave.seqera.io/library/matplotlib_papermill_quarto_r-openxlsx_pruned:a067462ed5026286'

        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode
        ]
    }

}
