/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ZarnackGroup/majiq_splicing_analysis_pipeline -profile test,<docker/singularity> --outdir <OUTDIR> --majiq_license <MAJIQ_LICENSE> -c <MAJIQ_ENVIRONMENT_CONFIG_FILE>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data - from https://github.com/nf-core/test-datasets/tree/rnasplice
    input  = params.pipelines_testdata_base_path + 'rnasplice/samplesheet/samplesheet_bam.csv'
    contrasts = params.pipelines_testdata_base_path +'rnasplice/samplesheet/contrastsheet.csv'
    annotation   = params.pipelines_testdata_base_path +'rnasplice/reference/genes_chrX.gtf'
    genome_fasta = params.pipelines_testdata_base_path +'rnasplice/reference/X.fa.gz'

    // Suppa mode for IRFinder diff, deseq2 crashes on small datasets
    irfinder_diff_args = '-m suppa'
}
