/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ZarnackGroup/majiq_splicing_analysis_pipeline -profile test_cctb,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '10.h'
    ]
}




params {
    config_profile_name        = 'Test profile '
    config_profile_description = 'Minimal test dataset to check pipeline function'


    input                      = '/data/42-julia-hpc-bio-zarnack/feh33ik/splicing_pipeline/new/test_files/sample_sheet_example.csv'
    contrasts                  = '/data/42-julia-hpc-bio-zarnack/feh33ik/splicing_pipeline/new/test_files/contrasts_example.csv'
    annotation                 = '/data/42-julia-hpc-bio-zarnack/feh33ik/splicing_pipeline/new/test_files/gencode.v47.basic.annotation_chr22.gff3'
    majiq_license              = '/data/42-julia-hpc-bio-zarnack/feh33ik/splicing_pipeline/new/test_files/majiq_license_academic_official.lic'
}
