/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ZarnackGroup/majiq_splicing_analysis_pipeline -profile test_cctb,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

process {
    withName: FASTQC {
        cpus = 1
        memory = 2.GB
        container = '/storage/zar/shared/apptainer_images/fastqc_0.12.1_hdfd78af_0.sif'
    }
    withName: MULTIQC {
        cpus = 1
        memory = 2.GB
        container = '/storage/zar/shared/apptainer_images/multiqc_1.9_pyh9f0ad1d_0.sif'
    }
    withName: SAMPLESHEET_CHECK{
        container = '/storage/zar/shared/apptainer_images/python-3.9--1.sif'
    }
    withName: CONTRASTSHEET_CHECK{
        container = '/storage/zar/shared/apptainer_images/python-3.9--1.sif'
    }
}



params {
    config_profile_name        = 'Test profile '
    config_profile_description = 'Minimal test dataset to check pipeline function'


    input                      = '/home/feh33ik/majiq_pipeline/testing/sample_sheet_example.csv'
    contrasts                  = '/home/feh33ik/majiq_pipeline/testing/contrasts_example.csv'
    annotation                 = '/storage/zar/shared/organisms/homo_sapiens/annotations/bed/gencode.v47.basic.annotation.gff3'
    majiq_license              = '/storage/zar/projects/felix/tools/majiq/majiq_license_academic_official.lic'
}
